<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} — {{ site.title }}</title>
    <style>{{ site.custom_css }}</style>
  </head>
  <body>
    <header>
      <h1 class="site-title"><a href="/{{ site.slug }}">{{ site.title }}</a></h1>
      <nav>
        {% for p in site.pages if p.slug != "home" %}
          <a href="/{{ site.slug }}/{{ p.slug }}">{{ p.title }}</a>
        {% endfor %}
      </nav>
    </header>
    <main>
      {{ body_html|safe }}
    </main>
  </body>
</html>
